@{
	Layout = "_LayoutDeslogada";
	ViewData["Title"] = "Página Não logado";
}

<p> Você não tem vergonha na cara? <br>safado! <br>Faça Login! <br> <a asp-controller="Login" asp-action="Index">clique aqui para ir pro login</a></p>