@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação de apagar usuário";
}

<div class="text-center">
    <h1 class="display-4"> Realmente deseja apagar o contato (@Model.Nome) ? </h1>
</div>

<div class="d-flex flex-column">
    <a class="btn btn-primary flex-fill" role="button" asp-action="Index" asp-controller="Usuario"> Cancelar Exclusão</a>
    <!-- Colocar o asp-route-id="Model.Id" para pegar o id do registro que será excluido -->
    <a class="btn btn-danger mt-2 flex-fill" role="button" asp-action="Apagar" asp-controller="Usuario" asp-route-id="@Model.UserId"> Confirmar Exclusão</a>
</div>
